


/* RESET */
* {
	margin:0;
	padding:0;
	outline:none;
	border:none;
}

.linha {
	width:948px;
	height:2px;
	background:url(../imagens/linha.fw.png) no-repeat;
	background-position:center;
	margin:10px 0;
	}
/*DEFINIÇÕES DO CORPO*/
body {
	font-family:'Myriad Pro';
	background:url(../imagens/bg_body.png);
}

/*TIPOGRAFIA DE FONTES*/
@font-face{
	font-family:'Maiandra';
	src:url(../font/Maiandra%20GD.ttf);
	}
h1 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:48px;
	color:#349DCE;
	background:-webkit-linear-gradient(top,#30A1D5,#3DBEE2); 
	-webkit-background-clip:text;/*Chrome, Mozilla não aceita está propriedade ainda*/
	-webkit-text-fill-color:transparent;/*Chrome, Mozilla não aceita está propriedade ainda*/
	font-weight:normal;
	}
h2 {
	font-family:'Maiandra';
	font-size:36px;
	color:#00A0D8;
	margin-bottom:20px;
}
	
/***************************************
**************Main*********************/

.main {
	width:948px;
	margin:auto;
	padding:0 3px;
	overflow:hidden;
	}
	
/***************************************
**************TOPO E MENU**************/

.topo_fixo {
	width:948px;
	background:url(../imagens/topo.png) no-repeat;
	background-size:100% 140px;
	background-position:center bottom;
	position:fixed;
	margin:auto;
	z-index:999;
	}
#logo {
	float:left;
	padding:15px;
	margin-top:0px;
	margin-bottom:25px;
	}
#logo img {
	float:left;
	padding:7px;
	}
#logo h1 {
	float:right;
	}
menu {
	float:right;
	margin-top:35px;
	margin-right:15px;
	}
menu li {
	display:inline;
	}
menu a {
	display:block;
	float:left;
	color:#494949;
	padding:6px 10px;
	font-size:16px;
	text-decoration:none;
	}
menu a.ativo, menu a:hover{
	color:#259FD2;
	}
	
/***************************************
**************INTRODUÇÃO***************/

#introducao{
	padding-top:200px;
	overflow:hidden;
	}
.intro_esquerda{
	width:445px;
	float:left;
	}
.intro_esquerda p {
	font-family:'Myriad Pro';
	text-align:justify;
	font-size:16px;
	line-height:150%;
	margin-top:20px;
	color:#5F5E5E;
	text-shadow:0px 1px 1px rgba(255,255,255,0.5);
	-webkit-text-shadow:0px 1px 1px rgba(255,255,255,0.5);
	-moz-text-shadow:0px 1px 1px rgba(255,255,255,0.5);
	}
.intro_esquerda .btn {
	width:216px;
	padding:10px 0;
	margin-top:30px;
	margin-left:10px;
	text-align:center;
	font-family:Myriad Pro;
	display:block;
	text-decoration:none;
	color:#fff;
	font-size:30px;
	background:-webkit-linear-gradient(top,#22AED3,#059ACA);
	background:-moz-linear-gradient(top,#22AED3,#059ACA);
	box-shadow:0px 4px 5px rgba(0,0,0,0.81),inset 0px 1px 0px 0px rgba(255,255,255,0.51);
	-webkit-box-shadow:0px 4px 5px rgba(0,0,0,0.81),inset 0px 1px 0px 0px rgba(255,255,255,0.51);
	-moz-box-shadow:0px 4px 5px rgba(0,0,0,0.81),inset 0px 1px 0px 0px rgba(255,255,255,0.51);
	text-shadow:0px 1px 0.04em rgba(0,0,0,0.81);
	-webkit-text-shadow:0px 1px 0.04em rgba(0,0,0,0.81);
	-moz-text-shadow:0px 1px 0.04em rgba(0,0,0,0.81);
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #0FC9FF;
	}
.intro_direita {
	width:445px;
	float:right;
	}
	
/***************************************
**************PRODUTOS*****************/

#produtos {
	height:450px;
	}
.box {
	width:298px;
	border:1px solid #0094BF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	overflow:hidden;
	float:left;
	margin-right:22px;
	cursor:pointer;
	}
.box:last-child {
	margin-right:0px;
	}
.box header {
	width:298px;
	padding:7px 0;
	text-align:center;
	font-size:17px;
	color:rgba(255,255,255,1);
	background:-webkit-linear-gradient(top,#00A6D2,#0093CA);
	background:-moz-linear-gradient(top,#00A6D2,#0093CA);
	border-bottom:1px solid rgba(0,0,0,0.41);
	box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.51);
	-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.51);
	-moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.51);
	} 
#produtos article {
	width:298px;
	overflow:hidden;
	background:-webkit-linear-gradient(top,#47CEE9,#30A0D4);
	background:-moz-linear-gradient(top,#47CEE9,#30A0D4);
	font-size:34px;
	color:#2288B9;
	text-shadow:0px -1px 1px rgba(0,0,0,1);
	text-align:center;
	padding:10px 0;
	border-top:1px solid rgba(255,255,255,0.41);
	}
.box ul {
	width:298px;
	height:10px;
	overflow:hidden;
	background:#F1F1F1;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	opacity:0;
	-webkit-opacity:0;
	-moz-opacity:0;
	position:relative;
	}
.box:hover ul {
	height:170px;
	transition:all 0.8s;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	opacity:1;
	-webkit-opacity:1;
	-moz-opacity:1;
	}
.box ul li {
	width:298px;
	list-style:none;
	}
.box ul li:first-child {
	border-top:0px;
	}
.box ul li a{
	width:270px;
	padding:10px 0;
	margin:auto;
	font-size:15px;
	color:#7F7F7F;
	border-bottom:1px solid rgba(154,154,154,0.5);
	border-top:1px solid rgba(255,255,255,1);
	text-decoration:none;
	display:block;
	}

.box ul li a img {
	float:left;
	margin-right:5px;
	}
.box #button{
	width:298px;
	background:#f1f1f1;
	background-position:center bottom;
	z-index:9;
	position:relative;
	display:block;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	}
.box .btn {
	width:260px;
	margin:auto; 
	padding:15px 0;
	background:#00A6D2;
	background:-webkit-linear-gradient(top,#00A6D2,#0092C7);
	background:-moz-linear-gradient(top,#00A6D2,#0092C7);
	border-radius:4px 4px 0px 0px;
	-webkit-border-radius:4px 4px 0px 0px;
	-moz-border-radius:4px 4px 0px 0px;	
	display:block;
	color:rgba(255,255,255,1);
	text-decoration:none;
	font-size:22px;
	text-align:center;
	text-shadow:0px 1px 1px rgba(0,0,0,0.51);
	-webkit-text-shadow:0px 1px 1px rgba(0,0,0,0.51);
	-moz-text-shadow:0px 1px 1px rgba(0,0,0,0.51);
	border:1px solid rgba(0,113,171,0.5);
	border-top:0px;
	box-shadow:inset 0px 2px 0px 0px rgba(255,255,255,0.51);
	-webkit-box-shadow:inset 0px 2px 0px 0px rgba(255,255,255,0.51);
	-moz-box-shadow:inset 0px 2px 0px 0px rgba(255,255,255,0.51);
	position:relative;
	
	}
	
/***************************************
**************ENERGIA SOLAR************/

#energia_solar {
	overflow:hidden;
	padding-bottom:40px;
	padding-top:20px;
	}
.video_box {
	width:443px;
	float:left;
	}
.video_box video {
	width:443px;
	}
.energia_texto {
	width:452px;
	float:right;
	}	
.energia_texto p {
	color:#5F5E5E;
	line-height:150%;
	margin-top:20px;
	}
.energia_texto p:first-child {
	margin-top:0px;
	}

/***************************************
***************PEDIDOS*****************/

#pedidos{
	margin-top:40px;
	padding-bottom:60px;
	overflow:hidden;
	}
#pedidos h5 {
	font-size:12px;
	font-weight:normal;
	color:#696969;
	margin-bottom:20px;
	}
#formulario {
	width:auto;
	}
#formulario div {
	width:380px;
	margin-right:40px;
	float:left;
	}
#formulario .campo {
	width:221px;
	height:23px;
	padding:0px 5px;
	border:1px solid #EDEDED;
	border-radius:17px;
	-webkit-border-radius:17px;
	-moz-border-radius:17px;
	margin-right:10px;
	}
#formulario label {
	float:left;
	margin-bottom:10px;
	color:#696969;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	}
#formulario span img {
	float:left;
	margin-left:5px;
	z-index:9;
	}
#submit {
	width:107px;
	padding:10px;
	color:#fff;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background:#207FAB;
	position:relative;
	float:right;
	top:100px;
	left:-10px;
	cursor:pointer;
	box-shadow:0px 1px 3px rgba(0,67,79,1);
	-webkit-box-shadow:0px 1px 3px rgba(0,67,79,1);
	-moz-box-shadow:0px 1px 3px rgba(0,67,79,1);
	}
/*footer*/	
footer {
	width:948px;
	padding-top:30px;
	clear:both;
	}
.sombra_footer {
	width:948px;
	height:15px;
	position:relative;
	bottom:-10px;
	background:url(../imagens/sombra_footer.fw.png) no-repeat;
	
	}
footer article  {
	width:315px;
	float:left;
	}
footer article ul {
	font-family:Trebuchet MS;
	font-size:10px;
	color:#0D1529;
	}
footer article a{
	text-decoration:none;
	font-family:Trebuchet MS;
	font-size:10px;
	color:#0D1529;
	}
.menu_footer {
	padding-left:10px;
	}
.text_footer {
	text-align:center;
	font-family:Trebuchet MS;
	font-size:10px;
	color:#0D1529;
	}
.icons {
	float:right;
	position:relative;
	top:-20px;
	}
.icons a {
	display:block;
	margin-left:50px;
	float:left;
	}